                        /* MENUBAR set up */
Nav a{
    color: rgb(187, 14, 14);
    font-size: large;
    text-decoration: none;
    padding: 0px 30px;
    font-weight: bold;
    margin-top: 10px;  
}

#menuButton{
    border-radius: 20px;
    width: 100px;
    margin-top: 2px; 
}
#awesomeFont{
    margin-top: 17px;
}

                           /* HEADER */


#headerButton{
    border: none;
    background-color: rgb(192, 27, 55);
    height: 40px;
    border-radius: 15px;
    color: white;
    width: 80px;
}     

/* testimonial */
.card-design{
    float: left;
    margin: 20px;
    width: 30%;
    
}
.card-design img{
    width: 350px;
    height: 350px;
}
/* FOOTER */

.foot-design img{
    height: 100px;
}
